@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

/* colors */
$primary-color: #39cdcc;
$purple-1: #213f7d;
$purple-2: #545f7d;
$work-sans-font: "Work Sans", "sans-serif";
