@use "../../abstracts" as *;

.back-to-users {
  font-family: $work-sans-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $purple-2;
  text-decoration: none;

  &:hover {
    color: $purple-1;
    transform: scale(1.01);
  }
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    font-family: $work-sans-font;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    color: $purple-1;
  }
}

.user-identification {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;

  &-1 {
    font-family: $work-sans-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem !important;
    line-height: 1.625rem;
    color: $purple-1;
  }

  &-2 {
    font-size: 0.875rem !important;
    color: $purple-2;
  }
}

.user-action {
  color: #000 !important;

  &:first-child,
  &:hover {
    color: $primary-color !important;
    border-bottom: 0.1rem solid $primary-color;
  }
}
