.card {
  &__title {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    text-transform: uppercase !important;
    color: #545f7d;
  }

  &__data {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    text-transform: uppercase;
    color: #213f7d;
  }
}
